build
log
install
autoware.ai.repos
*.weights
.vscode
*.o
extra_library
CM_ws/ros/ros1_ws/build
CM_ws/ros/ros1_ws/build/*
CM_ws/ros/ros1_ws/devel
CM_ws/ros/ros1_ws/devel/*
CM_ws/Movie/.road_cache
CM_ws/Movie/.road_cache/*
CM_ws/Data/TestRun/.tmp*
CM_ws/Data/Road/.tmp*
CM_ws/Data/Vehicle/.tmp*
CM_ws/temp
CM_ws/temp/*
*.log
CM_ws/bin/*
!CM_ws/lib/win64/*
!CM_ws/lib/linux64/*
CM_Ws/src/.version_linux64
CM_ws/ros/ros1/devel/lib
*.pyc
