<launch>
    <!-- <arg name="waypoint_filename" default="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_waypoints_example.csv" /> -->
    <arg name="waypoint_filename" default="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/pose_waypoints_example.csv" />
    <arg name="zone_points_filename" default="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/zone_points/zone_points.csv" />
    <arg name="zone_offset_filename" default="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/zone_points/zone_offset.csv" />
    <arg name="mode" default="0" /> <!-- 0: Pose / 1: GPS -->


    <node pkg="rubis_cm_pkg" type="waypoint_generator" name="waypoint_generator" output="screen">
        <param name="waypoint_filename" value="$(arg waypoint_filename)"/>
        <param name="zone_points_filename" value="$(arg zone_points_filename)" />
        <param name="zone_offset_filename" value="$(arg zone_offset_filename)" />
        <param name="mode"                  value="$(arg mode)" />
    </node>

</launch>