<launch>
  <!-- Behavior selector specific parameters -->

  <rosparam command="load" file="$(find test_package)/cfg/fake_traffic_light.yaml"/>
  <rosparam command="load" file="$(find test_package)/cfg/fake_stop_line.yaml"/>
  
  <arg name="evidence_tust_number"   default="25"/>
  <arg name="distanceToPedestrianThreshold" default="20.0" />
      
  <node pkg="op_local_planner" type="op_behavior_selector" name="op_behavior_selector" output="screen">
  
  <param name="evidence_tust_number"   value="$(arg evidence_tust_number)"/>        
  <param name="distanceToPedestrianThreshold" value="$(arg distanceToPedestrianThreshold)" />
      
  </node>        
      
</launch>
