<launch>

  <!-- setting path parameter -->
  <arg name="use_openmp" value="false" />
  <arg name="get_height" value="true" />

  <!-- Setup -->

  <!-- vel/pose connect -->
  <arg name="topic_twist_stamped" default="/imu_vel" />
  <arg name="topic_pose_stamped" default="/ndt_pose" />

  

  <!-- scenario 2 -->
  <arg name="init_x" value="19180.58" />
  <arg name="init_y" value="-1105.62" />
  <arg name="init_z" value="1.544" />
  <arg name="init_yaw" value="0.0" />
  <arg name="init_pitch" value="0.0" />
  <arg name="init_roll" value="0.0" />

  <!-- points downsampler -->
  <include file="$(find points_downsampler)/launch/points_downsample.launch" />

  <!-- nmea2tfpose -->
  <!-- <include file="$(find rubis_cm_pkg)/launch/gnss_localizer_cm.launch">
  </include> -->

  <!-- vel_pose_mux -->
  <include file="$(find autoware_connector)/launch/vel_pose_connect.launch">
    <arg name="topic_pose_stamped" value="$(arg topic_pose_stamped)" />
    <arg name="topic_twist_stamped" value="$(arg topic_twist_stamped)" />
  </include>

  <!-- publish ndt config -->
  <node pkg="rostopic" type="rostopic" name="config_ndt"
    args="pub /config/ndt autoware_config_msgs/ConfigNDT
    '{header: {seq: 8, stamp: {secs: 0, nsecs: 0}, frame_id: ''},
      init_pos_gnss: 0,
      x: $(arg init_x),
      y: $(arg init_y),
      z: $(arg init_z),
      roll: $(arg init_roll),
      pitch: $(arg init_pitch),
      yaw: $(arg init_yaw),
      use_predict_pose: 1,
      error_threshold: 1.0,
      resolution: 10.0,
      step_size: 0.5,
      trans_epsilon: 0.01,
      max_iterations: 100}
    '"/>

  <!-- ndt_matching -->
  <!-- pcl_generic=0, pcl_anh=1, pcl_anh_gpu=2, pcl_openmp=3 -->
  <include file="$(find lidar_localizer)/launch/ndt_matching.launch">
    <arg name="method_type" value="3" />
    <arg name="use_gnss" value="0" />
    <arg name="get_height" value="true" />
    <arg name="use_csv_init" value="true" />
  </include>

  <include file="$(find rubis_cm_pkg)/launch/waypoint_generator.launch">  
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_hyundai_1.csv" /> -->
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_hyundai_2.csv" /> -->
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_hyundai_3.csv" /> -->
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_RUBIS_Test.csv" /> -->
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_jchoi_Test.csv" /> -->
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_RUBIS_Test_sjhwang.csv" /> -->
    <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_RUBIS_sh_Test.csv" />
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/GPS_RUBIS_total.csv" /> -->
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/pose_scene1.csv" /> -->
    <!-- <arg name="waypoint_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/pose_waypoints_example.csv" /> -->
    


    <arg name="zone_points_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/zone_points/zone_points.csv" />
    <arg name="zone_offset_filename" value="$(env HOME)/autoware.ai/autoware_files/carmaker/documents/zone_points/zone_offset.csv" />
    <arg name="mode" value="1" /> 
  </include> <!-- 0: POSE(XYZ) / 1: GPS(LLH) -->
  

</launch>
