<launch>
  <!-- ROS-Bridge node for Simulator connection -->
  <node name="websocket_bridge" pkg="rosbridge_server" type="rosbridge_websocket" output="screen" clear_params="true" required="true" />

  <!-- Re-publishing simulator/camera_node/image/compressed topic to /image_raw as expected by Autoware -->
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/simulator/camera_node/image raw out:=/image_raw_origin"  />

  <include file="$(find test_package)/launch/lidar_republisher.launch">
    <arg name="node_name" value="lidar_republisher_1" />
    <arg name="input_topic" value="/points_raw_l_all_direction" />
    <arg name="output_topic" value="/points_raw_l" />
  </include>

  <include file="$(find test_package)/launch/lidar_republisher.launch">
    <arg name="node_name" value="lidar_republisher_2" />
    <arg name="input_topic" value="/points_raw_r_all_direction" />
    <arg name="output_topic" value="/points_raw_r" />
  </include>

  <include file="$(find test_package)/launch/camera_republisher.launch"/>

  <include file="$(find rubis_pkg)/launch/pcd_clipper.launch">
    <arg name="node_name" default="pcd_clipper_1"/>
    <arg name="enableLocalize" default="true"/>
    <arg name="tf_x" default="0.7"/>
    <arg name="tf_y" default="0.7"/>
    <arg name="tf_z" default="2.0"/>
    <arg name="tf_roll" default="0"/>
    <arg name="tf_pitch" default="0"/>
    <arg name="tf_yaw" default="0"/>
    <arg name="input_topic" default="/points_raw_l"/>
    <arg name="detection_point_output_topic" default="/detection_points_raw_l"/>
    <arg name="localization_point_output_topic" default="/points_raw"/>
    <arg name="output_frame_id" default="velodyne"/>
    <arg name="localization_center_angle" default="45"/>
    <arg name="localization_viewing_angle" default="270"/>
    <arg name="detection_center_angle" default="75"/>
    <arg name="detection_viewing_angle" default="150"/>
  </include>

  <include file="$(find rubis_pkg)/launch/pcd_clipper.launch">
    <arg name="node_name" default="pcd_clipper_2"/>
    <arg name="enableLocalize" default="false"/>
    <arg name="tf_x" default="0.7"/>
    <arg name="tf_y" default="-0.7"/>
    <arg name="tf_z" default="2.0"/>
    <arg name="tf_roll" default="0"/>
    <arg name="tf_pitch" default="0"/>
    <arg name="tf_yaw" default="0"/>
    <arg name="input_topic" default="/points_raw_r"/>
    <arg name="detection_point_output_topic" default="/detection_points_raw_r"/>
    <arg name="output_frame_id" default="velodyne"/>
    <arg name="detection_center_angle" default="285"/>
    <arg name="detection_viewing_angle" default="150"/>
  </include>

</launch>

